<app-navbar></app-navbar>

<div class="container"><br>
    <div class="row">
        <div class="col-md-6" (click)="eventoOpen()"><br><br><br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae qui, ad nulla delectus fuga ex doloribus asperiores natus quasi perspiciatis quidem distinctio cum atque neque dicta earum adipisci vitae quam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fuga eum reiciendis? Voluptas quo impedit exercitationem, quam aliquid ab, perspiciatis atque iusto quasi hic eum aperiam, facere commodi? Aliquid, veniam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas maxime debitis, eius, adipisci nobis consectetur quaerat inventore at facilis expedita eum. Repellat impedit necessitatibus aliquid nihil omnis natus excepturi aperiam!
            </p>
        </div>
        <img src="../../../assets/img/person1.jpg" alt=""[@openClose]="isOpen ? 'open' : 'closed'">
    </div>

    <div class="row">
        <img src="../../../assets/img/Person2.jpg" alt=""[@openClose]="isOpen ? 'open' : 'closed'" >
        <div class="col-md-6" (click)="eventoOpen()"><br><br><br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae qui, ad nulla delectus fuga ex doloribus asperiores natus quasi perspiciatis quidem distinctio cum atque neque dicta earum adipisci vitae quam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fuga eum reiciendis? Voluptas quo impedit exercitationem, quam aliquid ab, perspiciatis atque iusto quasi hic eum aperiam, facere commodi? Aliquid, veniam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas maxime debitis, eius, adipisci nobis consectetur quaerat inventore at facilis expedita eum. Repellat impedit necessitatibus aliquid nihil omnis natus excepturi aperiam!
            </p>
        </div>
    </div>
</div>

<!-- <div >
    {{ isOpen ? 'Open' : 'Closed' }}
</div> -->